* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#search-button {
    width: 100%;
<<<<<<< HEAD
}

.card {
    max-width: 33%;
}
=======
} 
>>>>>>> 4eb80a02d6d03fbbde7933a03b4ea5dd55464d7e
